<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
      <ul>
      <li><a href="/ghp-test">Home</a></li>
      <li><a href="/ghp-test/about">About</a></li>
      <li><a href="/ghp-test/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer class="footer">
      {% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}">{% include svg-icons/github.html %}</a>{% endif %}
      {% if site.footer-links.twitter %}<a href="http://twitter.com/{{ site.footer-links.twitter }}">{% include svg-icons/twitter.html %}</a>{% endif %}
      <a href="mailto:martin.dahse@gmail.com">email</a>
    </footer>
  </body>
</html>
